:root {
    --primary: #000000;
    --accent: #8B0D32;
    --gray: #DFDFDF;
    --dark-red: #550202;
    --bg: #ffffff
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

/*
*********************** MAIN ****************************
 */

h1 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.luckyDiv {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.luckyBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

main h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--accent);
}

.profilePic {
    width: 100%;
}

.profile, .profile2 {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.name {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    background-color: var(--gray);
    border: 3px solid var(--accent);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 1rem;
}

.name {

}

.profile div div, .profile2 div div {
    width: 50%;
    background-color: var(--gray);
    border: 3px solid var(--accent);
    margin: 0;
}

.profile div div:nth-child(2), .profile2 div div:nth-child(1) {
    padding: 0.5rem;
}

.profile div div p, .profile2 div div p {
    margin: 0;
}

main p, main ul li {
    font-size: 0.9rem;
}

.profile div, .profile2 div {
    display: flex;
    flex-direction: row;
}

.bigInfo {
    display: none;
}

.profilePersonalia {
    background-color: var(--gray);
    border: 3px solid var(--accent);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profiles {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 4rem;
}

/*
************************** FOOTER *************************
 */

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left: 2rem;
    bottom: 0;
    width: 100%;
    background-color: rgba(139, 13, 50, 0.68);
    color: white;
    text-align: center;
    font-size: 1.2em;
}

footer div {
    padding-left: 1rem;
    padding-right: 4rem;
}

footer a:first-child {
    padding-top: 2.5rem;
}