body {
    font-family: Arial, Helvetica, sans-serif;
    
}

main{
    text-align: center;
}
h1{
    margin-top: 0;
}

/* username */
.gameRunning{
    visibility: hidden;
}
.startGame{
    margin-top: 2rem;
}

.intro{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width:70%;
    border-bottom: 2px solid var(--primary);
    visibility:visible;
}
.generate2{
    margin: 1rem;
}
.uploadScore{
    visibility:hidden;
    margin-top:2rem
}
.theGame{
    margin-top: -4rem;
}
.try_again{
    margin-top: 2rem;
    visibility:hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#board {
    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    margin-top: 2rem;
}
.score{
    visibility: hidden;
    margin-top: -8rem;
}

#rowSelector {
    color: var(--bg);
    background-color: var(--accent);
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.5rem;
    cursor: pointer;
    border: 2px solid black;
}

#buttonForAmount {
    margin: 1rem;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonForAmount{
    margin-left: auto;
    margin-right: auto;
}

.changeBoardSize{
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}
.changeBoardSizeP{
    visibility: hidden;
    margin-bottom: 3rem;
}

#result{
    font-size: 40px;
    font-weight: bold;
}
footer{
    margin-top: 10rem;
}
footer h3{
    padding: 1rem;
    font-size: 1.6rem;
}

/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}